In [2]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
import math

In [3]:
df = pd.read_csv('test_scores.csv')
df.head()

     name  math  cs
0   david    92  98
1   laura    56  68
2  sanjay    88  81
3     wei    70  80
4    jeff    80  83

In [8]:
reg = LinearRegression()
reg.fit(df[['math']], df.cs)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [9]:
reg.intercept_

1.9152193111568891

In [10]:
reg.coef_

array([1.01773624])

In [21]:
def gradient_descent(x,y):
    m_curr = c_curr = 0
    leraning_rate = 0.0001
    iterations = 1000000
    cost_previous = 0
    n = len(x)
    for i in range(iterations):
        y_pred = m_curr*x + c_curr
        cost = (1/n)*sum([values**2 for values in (y-y_pred)])
        dm = -(2/n)*sum(x*(y-y_pred))
        dc = -(2/n)*sum(y-y_pred)
        m_curr = m_curr - leraning_rate*dm
        c_curr = c_curr - leraning_rate*dc
        if math.isclose(cost, cost_previous, rel_tol=1e-20):
            break
        cost_previous = cost
    print(m_curr, c_curr)

x = np.array(df.math)
y = np.array(df.cs)
gradient_descent(x,y)

1.0177392018821385 1.9150092583843652