In [1]:
import catboost
print(catboost.__version__)

1.0.0

In [2]:
from catboost.datasets import amazon

(train_df, test_df) = amazon()

In [3]:
train_df.head()

,ACTION,RESOURCE,MGR_ID,ROLE_ROLLUP_1,ROLE_ROLLUP_2,ROLE_DEPTNAME,ROLE_TITLE,ROLE_FAMILY_DESC,ROLE_FAMILY,ROLE_CODE
0,1,39353,85475,117961,118300,123472,117905,117906,290919,117908
1,1,17183,1540,117961,118343,123125,118536,118536,308574,118539
2,1,36724,14457,118219,118220,117884,117879,267952,19721,117880
3,1,36135,5396,117961,118343,119993,118321,240983,290919,118322
4,1,42680,5905,117929,117930,119569,119323,123932,19793,119325

In [4]:
y = train_df.ACTION
x = train_df.drop('ACTION', axis=1)

In [5]:
cat_features = list(range(0, len(x.columns)))
print(cat_features)

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
print('Labels: {}'.format(set(y)))
print('Zero count = {}, One count = {}'.format(len(y)-sum(y), sum(y)))

Labels: {0, 1}
Zero count = 1897, One count = 30872

This is preety unbalanced

Now lets train our model

In [8]:
from catboost import CatBoostClassifier
model = CatBoostClassifier(iterations=100)  # we are training for 100 trees
model.fit(x, y, cat_features=cat_features, verbose=10)

# cat_features=cat_features is passing the index of the columns
# you can also give columns name if yu want to use strings
# But that will be quit a work :)

Learning rate set to 0.377604
0:	learn: 0.4528598	total: 18.1ms	remaining: 1.79s
10:	learn: 0.1744186	total: 233ms	remaining: 1.89s
20:	learn: 0.1676119	total: 456ms	remaining: 1.72s
30:	learn: 0.1652446	total: 670ms	remaining: 1.49s
40:	learn: 0.1633644	total: 902ms	remaining: 1.3s
50:	learn: 0.1621892	total: 1.12s	remaining: 1.08s
60:	learn: 0.1609164	total: 1.35s	remaining: 861ms
70:	learn: 0.1594572	total: 1.58s	remaining: 645ms
80:	learn: 0.1585876	total: 1.82s	remaining: 428ms
90:	learn: 0.1573593	total: 2.01s	remaining: 199ms
99:	learn: 0.1566977	total: 2.21s	remaining: 0us

In [ ]:
model.predict_proba(x)